/*
 * Resources:
 * http://www.reddit.com/r/csshelp/
 * http://www.reddit.com/r/RedditHax/
 * http://www.reddit.com/r/CSSLibrary/
 * http://code.reddit.com/wiki/help/faqs/noahjk
 * http://www.reddit.com/r/tf2commentkills/
 *
 * http://www.w3.org/TR/CSS2/selector.html
 * http://net.tutsplus.com/tutorials/html-css-techniques/the-30-css-selectors-you-must-memorize/
 * http://css-tricks.com/child-and-sibling-selectors/
 * 
 * http://www.colorcombos.com/
 * 
 * http://www.reddit.com/r/reddithax/comments/15u2v0/code_blocksyntax_highlighting/
 * 
 * http://www.reddit.com/r/apple/about/stylesheet - keyboard icons
 * http://www.reddit.com/r/citricsquid/about/stylesheet - voting
 * http://www.reddit.com/r/EXAMPLE/about/stylesheet
 * http://www.reddit.com/r/Minecraft/about/stylesheet
 * http://www.reddit.com/r/notsonewreddits/about/stylesheet
 * http://www.reddit.com/r/namemytf2item/about/stylesheet
 * http://www.reddit.com/r/nosleep/about/stylesheet
 * http://www.reddit.com/r/csshelp/about/stylesheet
 * http://www.reddit.com/r/DEADB33F/about/stylesheet
 * http://www.reddit.com/r/RedditHax/about/stylesheet
 * http://www.reddit.com/r/tf2developers/about/stylesheet
 * http://www.reddit.com/r/tf2eastcoast/about/stylesheet = block code
 * http://www.reddit.com/r/tf2trade/about/stylesheet
 * http://www.reddit.com/r/DotA2/about/stylesheet = search bar, right bar
 * http://www.reddit.com/r/ESG/about/stylesheet
 * http://www.reddit.com/r/wiiu/about/stylesheet
 * http://www.reddit.com/r/desertisland/about/stylesheet = menus
 * http://www.reddit.com/r/CSSTutorials/comments/mwpw8/tutorial_sticky_dropdown_menu/
 * http://www.reddit.com/r/csshelp/comments/1av8uc/c913e5g = randomness
 * http://www.reddit.com/r/noahjk = blocks
 */

/*
 * Colors:
 *
 * Text:        #D3D7CF
 * Background:  #221F1C
 * Border:      #403C33
 * Header:      #393532
 * Orange:      #F49500
 */

/* Settings */

    /* Renamed posts */

    a.title.loggedin[href$="/r/tf2scripthelp/comments/19z0dc/and_than_what/"] { visibility: hidden; }
    a.title.loggedin[href$="/r/tf2scripthelp/comments/19z0dc/and_than_what/"]:before {
        visibility: visible;
        content: "Using 'toggle'";
    }

    /* User titles */

    .author[href$="/TimePath"] {
        color: #FF0000 !important;
    }

    /* Images */

    a[href$="/r/tf2scripthelp/wiki/viewmodel_fov#wiki_graph"] {
        width: 1231px;
        height: 556px;
        content: " ";
        /*background-image: url(%%viewmodel-fov%%);*/
        display: inline-block;
        cursor: default;
    }

    /* User flair */

    .flair-scripter:before, .flair-scripter-cs:before {
        /*background-image: url(%%sprite-reddit%%);*/
        width: 16px;
        height: 16px;
        background-position: -85px -582px;
    }

    .flair-scripter-cs {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    .flair-batman:before {
        /*background-image: url(%%bat-signal%%);*/
        width: 24px;
        height: 13px;
    }

    /* Link flair */
    
    .linkflairlabel:before, .md a[href*="#linkflair"]:before {
        /*background-image: url(%%sprite-reddit%%);*/
    }

    .linkflair-open .linkflairlabel:before {
        width: 16px;
        height: 16px;
        background-position: -102px -582px;
    }
    .linkflair-resolved .linkflairlabel:before {
        width: 16px;
        height: 16px;
        background-position: -54px -528px;
    }
    .linkflair-question .linkflairlabel:before {
        /*background-image: url(%%thumbs-reddit%%);*/
        width: 16px;
        height: 16px;
        background-position: -16px -120px;
    }
    .linkflair-discussion .linkflairlabel:before {
        width: 16px;
        height: 16px;
        background-position: -88px -528px;
    }
    .linkflair-meta .linkflairlabel:before {
        width: 16px;
        height: 16px;
        background-position: -68px -599px;
    }

    /* Base flair */

    .flair, .linkflairlabel, div.side a[href*="#meta"] {
        padding: 2px 4px 6px 4px; /* uldr */
        text-transform: uppercase;
        background-color: #221F1C;
        border: 1px solid #403C33;
        line-height: 18px;
    }
    .flair:before, .linkflairlabel:before, div.side a[href*="#meta"]:before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
    
    /* Rename flair button */

    .buttons a.flairselectbtn { visibility: hidden }
    .buttons a.flairselectbtn:before {
        visibility: visible;
        content: "add tag";
    } .linkflair .buttons a.flairselectbtn:before {
        visibility: visible;
        content: "change tag";
    }
    
    /* Flair selector */

    .flairselector {
        box-shadow: 4px 4px 4px #403C33;
    }
    .flairselector h2 {
        background-color: #393532;
    }
    .flairselector li:hover {
        background-color: #403C33;
    }
    .flairselector title {
        font-size: 0;
        visibility: hidden;
    }
    
    /* Flag submissions without link flair */

    .link:not(.linkflair) > .entry { border-left: 4px solid red; padding-left: 4px; }
    
    /* Hide submissions without link flair for non-moderators */
    
    .listing-page:not(.moderator) .link:not(.linkflair) { display: none; }

    /* Submission */
        /* Guidelines */
        .submit-page #text-desc { font-size: 0px }
        .submit-page #text-desc:before {
            display: block;
            font-size: 14px;
            font-weight: bold;
            content: "You are submitting to r/TF2ScriptHelp. Please note the guidelines on the sidebar before posting, and check if your question has already been answered."
        } .submit-page #text-desc:after {
            display: block;
            font-size: 13px;
            margin-top: 6px;
            content: "Presentation matters! For example: you can add 4 spaces to the beginning of every line of code to apply code formatting. Check the formatting help box at the bottom of the text field to learn more."
        }
        
        /* Remove "optional" from title text field label */
        .submit-page #text-field.roundfield span.gray {
            display: none;
        }
        
        /* Remove other subreddits from the submission page */
        .submit-page #reddit-field {
            display:none;
        }
        
        /* Notify about link flair */
        .submit-page #title-field span.title:after {
            font-size: 13px;
            content: " (You can add link flair to your post after submitting it)"
        }
        
        /* Link flair warning after submission */
        .comments-page.post-submitter .link:not(.linkflair):before {
            content: "Your post requires flair before it'll become visible on the front page";
            display: block;
            padding: 5px;
            color: #fff;
            font-weight: bold;
            font-size: 240%;
            background: #f00;
            z-index: 0;
            height: 100%;
            line-height: 50px;
            margin-top: 0;
            margin-bottom: 5px;
            text-align: center
        }

    /* Input */

        /* Text entry */

        input, textarea, .login-form-side, .linkinfo .shortlink input, .linefield textarea, .linefield input[type="text"], .linefield input[type="password"], .pretty-form input[type="text"], .pretty-form input[type="password"], .pretty-form textarea, .login-form-side input, #search input[type="text"], .infobar, .wiki-page .wiki-page-content #wiki_revision_reason, .flairlist .flaircell input[type="text"] {
            color: #D3D7CF !important;
            background-color: #221F1C !important;
            border: 1px solid #403C33 !important;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px
        }

        /* Search page */
        .searchpane {
            background-color: #221F1C !important;
        }

        /* Radio buttons and checkboxes */

        input[type="checkbox"], input[type="radio"], .pretty-form input[type="checkbox"], .pretty-form input[type="radio"], .pretty-form input[type="file"] {
            color: #D3D7CF !important;
            background-color: #221F1C !important;
            border: 1px solid #403C33 !important;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px
        }

        /* Combo boxes */
        .pretty-form select, .pretty-form b, .linefield select {
            color: #D3D7CF !important;
            background-color: #221F1C !important;
            border: 1px solid #403C33 !important;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px
        }

        /* Buttons */

        button, .pretty-form button, .flair-jump button, .flairrow .flairdeletebtn {
            color: #D3D7CF !important;
            background-color: #221F1C !important;
            border: 1px solid #403C33 !important;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px
        }
        
        /* Fancy buttons */

        a.pretty-button.negative,
        a.pretty-button.neutral,
        a.pretty-button.positive,
        .fancy-toggle-button .add,
        .fancy-toggle-button .remove,
        .fancy-toggle-button .active,
        .RESshortcutside, .RESDashboardToggle {
            color: black !important;
        }

    /* Submissions */

        /* Change submission information text */

        /*.link .entry .tagline time:not(.edited-timestamp)::before {
            content: "submitted ";
            font-size: x-small;
        }
        .link .entry .tagline {
            font-size: 0px !important;
        }
        .link .entry .tagline time:not(.edited-timestamp)::after {
            content: " ago by ";
            font-size: x-small;
        }
        .link .entry .tagline time, .entry .tagline a, .tagline span {
            font-size: x-small;
        }*/

        /* Hide reddit domain */

        .title .domain, #reddit-field { display: none }

        /* Selected post highlight for keyboard navigation */

        .keyHighlight,
        html .RES-keyNav-activeElement,
        html .commentarea .RES-keyNav-activeElement .md
        {
            background-color: #403C33 !important;
            outline: none !important;
        }
        
        /* Selected comment highlight for keyboard navigation */

        html .commentarea .RES-keyNav-activeElement.entry .noncollapsed
        {
            background-color: #221F1C !important;
            outline: 4px solid #F49500 !important;
        }

    
        
        
    /* Text formatting */
    
        /* Text color */    

        body,
        html body.res-nightmode,
        .user,
        li.flat-vert.title,
        .flair,
        .linkflairlabel,
        .linefield .title,
        .roundfield .title,
        label,
        div,
        p
        {
            color: #D9D9D9 !important;
        }

        /* Heading styling */
        h1, h2, h3, h4, h5, h6 { color: #F49500 !important; }
        
        /* Link styling */
        a,
        a:link,
        .RESDropdownList li,
        .RESDropdownList li a
        { color: #FF9C00 !important; background-color: transparent }
        
        a:active { color: #0000FF !important; background-color: transparent }
        a:visited { color: #EEDB00 !important; background-color: transparent }
        a:hover, .RESDropdownList li:hover, .RESDropdownList li a:hover { color: #FF5A5A !important; background-color: transparent }
        .link .title { color: #FFF !important }
        .thing .title { color: #FFF !important }

        /* Comments */

        div.child .comment, div.child .comment .comment, div.child .comment .comment .comment, div.child .comment .comment .comment .comment, div.child .comment .comment .comment .comment .comment, div.child .comment .comment .comment .comment .comment .comment, div.child .comment .comment .comment .comment .comment .comment .comment, div.child .comment .comment .comment .comment .comment .comment .comment .comment, div.child .comment .comment .comment .comment .comment .comment .comment .comment .comment, div.child .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, div.thing.comment, div.comment, .comment .child, .comment .showreplies { 
            border-color: #403C33 !important;
            background-color: #221F1C !important;
        }
        .usertext-body {
            background-color: #403C33 !important;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px
        }

    /* Extended formatting */

        /* Binds */
        
        a[href="#bind"] {
            font-size: 0;
            visibility: hidden;
            cursor: default;
            display: inline-block;
        }

        a[href="#bind"]::after {
            /*font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif !important;*/
            content: attr(title);

            background: rgb(80, 80, 80) !important;
            /*background-image: url(%%keyboard-gradient%%) !important;*/
            color: rgb(250, 250, 250);
            font-size: small;
            visibility: visible;
            text-shadow: -1px -1px 0 rgb(70, 70, 70) !important;
            box-shadow: 0px 1px 1px #BBBBBB !important;

            min-width: 1em !important;
            padding: .2em .3em !important;
            text-align: center !important;
            text-decoration: none !important;
            -moz-border-radius: .3em !important;
            -webkit-border-radius: .3em !important;
            border-radius: .3em !important;
            border: none !important;
            cursor: default !important;
            height: 12px !important;
        }

        a[title="caps"]::after { content: "⇪ Caps lock" }
        a[title="shift"]::after { content: "⇧Shift" }
        a[title="ctrl"]::after { content: "Ctrl" }
        a[title="alt"]::after { content: "Alt" }
        a[title="apple"]::after { content: "⌘" }
        a[title="tab"]::after { content: "Tab ↹" }
        a[title="delete"]::after { content: "⌫ Delete" }
        /* http://en.wikipedia.org/wiki/Arrow_(symbol) */
        a[title="backspace"]::after { content: "← Backspace" }
        a[title="enter"]::after { content: "↵ Enter" }
        a[title="left"]::after { content: "←" }
        a[title="right"]::after { content: "→" }
        a[title="up"]::after { content: "↑" }
        a[title="down"]::after { content: "↓" }
        
        /* Hide RES link counter */
        a[href="#bind"] + .keyNavAnnotation { display: none !important }

    /* Colors / colours */
    
        a[href="#color"] { cursor: text }

        /* http://www.w3schools.com/cssref/css_colornames.asp */
        a[href="#color"][title="red"] { color: red }
        a[href="#color"][title="orange"] { color: orange }
        a[href="#color"][title="yellow"] { color: yellow }
        a[href="#color"][title="green"] { color: green }
        a[href="#color"][title="blue"] { color: blue }
        a[href="#color"][title="purple"] { color: purple }
        a[href="#color"][title="pink"] { color: pink }
        a[href="#color"][title="black"] { color: black }
        a[href="#color"][title="white"] { color: white }
        a[href="#color"][title="brown"] { color: brown }
    
        /* Hide RES link counter */
        a[href="#color"] + .keyNavAnnotation { display: none !important; }

    /* Advert */

        #ad-frame {
            background-color: #221F1C !important;
            border: 1px solid #403C33 !important;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            height: 266px
        }
        div#adlink { background-color: transparent !important }
        div#adlink a { color: #FF9C00 !important }

    /* Tabs */

        .tabmenu li a {
            background-color: #393532 !important;
            border-color: #403C33 #403C33 transparent !important;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px
        }
        .tabmenu li a:hover {
            background-color: #F49500 !important;
            color: #000000 !important;
        }
        .tabmenu li.selected a {
            background-color: #9D511B !important;
            color: #000000 !important;
            border-color: #403C33 #403C33 transparent !important;
            border-style: solid;
            border-width: 1px
        }
        .tabmenu li.selected a:hover {
            color: #FFFFFF !important;
        }

        /* Wiki tab label */

            /*div#heater-bottom-left ui.tabmenu a[href*="wiki"] { text-decoration: blink; }*/
            div#header-bottom-left ul.tabmenu a[href*="wiki"]::before { content: "" }
            div#header-bottom-left ul.tabmenu a[href*="wiki"]::after  { content: "" }

    /* Sidebar */

        /* Change 'readers' text */

        .subscribers .word { display: none; }  
        .subscribers .number:after { content: " scripters"; }

        /* Change 'users here now' text */

        .users-online .word { display: none }
        .users-online .number:after { content:" currently in queue" }

        /* Change 'created by' text */

        /*.titlebox .bottom {
            font-size: 0px;
            cursor: text;
        }
        .titlebox .bottom > .age {
            font-size: 10px;
        }
        .titlebox .bottom:before {
            font-size: 10px;
            content: "created by ";
        }
        .titlebox .bottom:after {
            font-size: 10px;
            cursor: pointer;
            content: "scripting enthusiasts";
        }*/

        /* Change date of creation */

        /*.age { display: none }
        .titlebox .bottom:before {
            display: block;
            content: "a community for X days";
            float: right
        }*/

    /* Voting */

        /* Hide the upvote arrow */

        .arrow.up {
            visibility: hidden;
            display: none;
        }

        /* Restore it for comments */  

        .comment .arrow.up {
            visibility: visible;
            display: block;
        }

        /* Hide the downvote arrow */  

        .arrow.down {
            visibility: hidden;
            display: none;
        }

        /* Restore it for comments */  

        .comment .arrow.down {
            visibility: visible;
            display: block;
        }

        /* Hide vote weight */

        a.voteWeight {
            background-color: transparent !important;
        }

        /* Hide post rank */

        .link .rank, .link .score {
            visibility: hidden;
            display: none
        }

        /* Hide 'create a community' */

        .sidebox.create, .sidebox.create .spacer { visibility: hidden; display: none; }

        /* Modify 'Submit a link' */
            
            .submit .morelink {
                border-color: #403C33;
                background-image: none;
                background-color: #9D511B;
                border-radius: 7px;
                -moz-border-radius: 7px;
                -webkit-border-radius: 7px
            } .submit .morelink:hover {
                background-image: none;
                background-color: #F49500;
            } .submit .morelink a:hover {
                color: black;
            }
            
            /* Change text */
            .submit .morelink a {
                color: black;
                font-size: 0;
                content: ''; 
            } .submit .morelink a::before {
                content: 'Ask a question';
                font-size: 15px;
            }
            
            /* Remove nub */

            .submit .morelink .nub { display: none }

            /* Hide subtitle */
            .sidebox.submit .spacer a {
                background: none;
                visibility: hidden;
            } .sidebox.submit .spacer {
                min-height: 0px;
            }
            
            /* Change subtitle */
            .sidebox .subtitle {
                margin-left: -40px;
                content: '';
            } .sidebox .subtitle::after {       
                content: 'Anything scripting related.';
                /*visibility: hidden;*/ /* Hide it */
            }

    /* Top toolbar */

    div#sr-header-area { background-color: #393532 !important; border-color: #403C33 }
    #sr-more-link, #RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsSort { background-color: #9D511B !important; color: #000000 !important } 

    /* Subreddit list */

    .dropdown.srdrop .selected { color: #F49500 !important }

    #srList tr, .RESDropdownList li, .RESDropdownList li a {
        border-color: #403C33 !important;
        background-color: #272422 !important;
    }
    #srList tr:hover, .RESDropdownList li:hover, .RESDropdownList li a:hover {
        background-color: #403C33 !important;
    }

    /* Header */

    #header-bottom-left {
        /*background-image: url(%%Header2%%);*/
        background-position: top left;
        background-repeat: no-repeat;
        background-color: #000000;
    }

    .tabmenu {
        list-style-type:none;
        white-space:nowrap;
        display:inline-block;
        position:relative;
        vertical-align:bottom;
    }

    /* Reddit name and page name */
    .pagename {
        position: relative;
        left: -200px;
    }

    #header .redditname a {
        position: relative;
        bottom: 12px;
        left: 100px;
    }

    /* User bar */

    #header-bottom-right, div#header-bottom-right {
        background-color: #221F1C !important;
        /*background-image: -webkit-linear-gradient(top,#403C33,#393532);
        background-image: -moz-linear-gradient(top,#403C33,#393532);
        background-image: -ms-linear-gradient(top,#403C33,#393532);
        background-image: -o-linear-gradient(top,#403C33,#393532);*/
        border-top: 1px solid #403C33;
        border-left: 1px solid #403C33;
        padding: 4px !important;
        min-width: 300px;
        text-align: center
    }

    .separator { color: #FF9C00; }

    /* Line below header */

    #header, body.res-nightmode div#header {
        border-bottom: 1px solid #FF9C00;
        background-color: #FF9C00;
        /*height: 178px;*/
    }

    .formtabs-content {
        border-color: #403C33 !important;
    }

    /* Background */

    body, html body.res-nightmode {
        background-color: #272422 !important;
        /*background-image: url(%%console0%%) !important;*/
        background-repeat: no-repeat;
        background-position: 0px 200px;
        background-attachment: scroll;
    }

    /* Footer */

    .footer, .footer .col { border-color: #403C33; background-color: #221F1C; }

    /* Subreddit settings page */

        .linefield, .roundfield, .content.submit .info-notice, .tabpane-content {
            background-color: #221F1C;
            border: 1px solid #403C33;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px
        }

    .usertext .markhelp td  { /* TODO: for topmost rows only */
        background-color: #272422;
        border: 1px solid #403C33;
    }

    .sidecontentbox .content {
        border: none;
    }

    .drop-choices {
        background-color: #272422;
        border-color: #403C33;
    }
    .srdrop .choice.bottom-option {
        border-color: #403C33;
    }
    .drop-choices a.choice:hover {
        background-color: #403C33;
    }

    /* Wiki */

    hr, .wiki-page .pageactions, .wiki-page .wiki-page-content .md.wiki > .toc > ul, .wiki-page .wiki-page-content .md.wiki > .toc > ul ul { border-color: #403C33 !important }

    .pageactions { background-color: #221F1C; }

    .wiki-page .pageactions .wikiaction:hover {
        color: #000 !important;
        background-color: #F49500 !important;
    }

    .wiki-page .pageactions .wikiaction-current {
        color: #000 !important;
        background-color: #9D511B !important;
    }

    .wiki-page .pageactions .wikiaction-current:hover {
        color: #FFF !important;
        background-color: #9D511B !important;
    }

    .wiki-page .wiki-page-content .md.wiki > .toc > ul {
        background-color: #221F1C;
        border: 1px solid #403C33;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px
    }

    .generic-table {
        color: #D9D9D9 !important;
    }

    /* Side column */

    .side {
        background-color: #221F1C !important;
        /*padding: 54px 4px 4px 8px;*/
        padding: 4px 4px 4px 4px;
        margin-right: 0;
        border-left: 1px solid #403C33;
        border-bottom: 1px solid #403C33;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-bottom-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    /* Curved sidebar borders */

    .link .usertext .md, .linkinfo, .titlebox, .sidebox.submit, .sidecontentbox {
        padding: 10px;
        color: #FFF;
        background: #221F1C; /* background-color */
        border: 1px solid #403C33;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px
    }

    /* Title box */

    .titlebox h1 {
        padding: 10px;
        font-size: 18px;
        color: #FFFFFF;
        z-index: 10;
        background-color: #9D511B;
        border: 1px solid #403C33;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px
    }
    .titlebox h1 a {
        color: #000000;
        padding:8px;
    }
    .titlebox h1 a::before {
        content: "/r/";
    }

    .sidecontentbox .collapse-button {
        background-color: #A39884;
        border-top-color: #807868;
        color: #393532;
    }

    .titlebox form.toggle, .leavemoderator {
        background-color: #221F1C;
    }

    .sidebox.submit .spacer {
        background-color: #221F1C;
    }

    /* Moderator box */

    /* Change moderator type */
    
    /*.side .helplink + .title h1 { display: none; }

    .side .helplink + .title:before { 
        content: 'Scripters';
        display: block;
        font-size: 130%;
        color: gray;
        text-transform: uppercase;
    }*/

    /* Markdown */

    .md {
        max-width: 60em;
        overflow: auto;
        font-size: small;
    }

    /* Table */

    .md table {
        background-color: #221F1C;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px
    }

    .md th {
        color: #F49500;
    }

    .md th, .md td {
        border-color: #403C33;
    }

    /* Block quotes */

    .md blockquote, .help blockquote {
        /*border: 1px solid #9D511B;*/
        border-left-color: orange;
    }

    /* Code */

    .md code {
        color: #F49500;
        font-family: monospace;
    }

    /* Block code */

    .md pre {
        position: relative;
        line-height: 15px;
        font-family: monospace;
        border: 1px solid #9D511B;
        border-left: 31px solid #9D511B;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px
    } .md pre code {
        padding: 15px;
        overflow: auto;
        display: block;
    } .md pre::before {
        height: 100%;
        color: white;
        position: absolute;
        left: -28px;
        width: 25px;
        white-space: pre-wrap;
        direction: rtl;
        overflow: hidden;
        content: "#   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";
    }
    
    /* RES */

    /* Night mode fixes */

    .leavemoderator, form.leavecontributor-button, .titlebox blockquote, .sidecontentbox .content, .icon-menu a, form.leavemoderator-button, .expando-button {
        background-color: transparent !important;
    }

    /* Never ending reddit */

    .NERPageMarker {
        color: #D9D9D9 !important;
        background-color: #272422 !important;
        border-color: #403C33 !important;
    }

    /* RES subscribe thread button */

    .RESSubscriptionButton {
        border: 1px solid #403C33 !important;
        background-color: #9D511B !important;
        color: #000000 !important;
    } .RESSubscriptionButton:hover {
        background-color: #F49500 !important;
        color: #000000 !important;
    }

    #userbarToggle { color: #FF9C00 !important; background-color: #9D511B !important; border-color: #FF9C00 !important }

    #RESAccountSwitcherIconOverlay, #RESMainGearOverlay, .RESDropdownList { background-color: #9D511B !important; border-color: #D9D9D9 !important; }

    /* Dialogs */
    /* Frames */
    .RESDialogSmall, .RESNotification, #RESConsoleContent
    { background-color: #221F1C !important; border-color: #403C33 !important; color: #D9D9D9 !important; }

    /* Containers */
    .moduleHeader, .optionContainer, .guider, #RESShortcutsAddFormContainer, .RESNotificationContent, .aboutPanel, #DonateRES
    { background-color: #272422 !important; border-color: #403C33 !important; }

    /* Headers */
    .RESDialogSmall > h3, .RESNotificationHeader, .RESDialogTopBar, #RESConsole, #RESMenu, #moduleOptionsScrim
    { background-color: #403C33 !important; border-color: #403C33 !important; }

    /* Close buttons */
    .RESCloseButton, .x_button
    { background-color: #9D511B !important; }

    /* RES settings console */
    #modalOverlay { background-color: black !important; }
    #RESConsole {
        box-shadow: 10px 10px 10px black !important;
        -moz-box-shadow: 10px 10px 10px black !important;
        -webkit-box-shadow: 10px 10px 10px black !important;
    }

    a.guider_button, a.guider_button:hover { color: #000000 !important; }

    /* Other */

    #img-preview-container { border-color: #403C33 }

    #progressIndicator {
        background-color: #272422 !important;
        border-color: #403C33 !important;
    }

    #alert_message { background-color: #221F1C !important; }

    .link.last-clicked { border: none !important; outline: none !important; }

    a.thumbnail.self { display: none; }

    /* Disable hot */

    /* Page headers: http://www.reddit.com/r/cssnews/comments/197jhi/css_change_new_body_classes_for_pages/ */
    /*body.hot-page > div.content, div#header-bottom-left ul.tabmenu a[href*="hot"] {
        display: none;
    } body.hot-page > div.content:before {
        display: inline !important;
        visibility: visible !important;
        content: "there doesn't seem to be anything here";
    }*/

    /* Unsubscribed header */
    /*.loggedin:not(.subscriber) > .content:before {
        content: "Subscribe?";
        color: #FFF;
        display: inline-block;
        margin: 25px 0px 0px 5px;
    }*/

    /* CSS Menu */

        /* Hack to enable positioning of child elements */
        .titlebox form { position: static }

        /* Turns top quote in sidebar into a menu container */
        .titlebox blockquote {
            border-left: none;
            position: absolute;
            z-index: 100;
            top: 20px;
            left: 70px
        }

        /* Turns first paragraph into menu title */

        .titlebox blockquote p:first-child {
            margin-top: 0px;
            padding: 5px;
            float: left;
            font-size: 12pt;
            background: #606060;
            border: 1px solid #cee3f8;
            font-weight:bold;
            color: white;
            cursor: default;
        }

        /* turns the lists into menus */

        .titlebox blockquote ul {
            float: left;
            padding: 0px;
            background: #221F1C;
            border: 1px solid #403C33;
            margin: 0px;
        }

        /* hide and styles lists */

        .titlebox blockquote ul li {
            display: none;
            padding: 2px;
            text-align: center;
        }

        /* makes whole list item selectable */

        .titlebox blockquote li a {
            color: #ffffff;
            display: block;
            font-size: 12px;
        }

        /* Menu */

        .titlebox blockquote li:first-child {
            font-size: 12pt;
            padding: 4px;
            cursor:default;
        }

        /* Menu hover*/

        .titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
            display: block
        }

        /* Menu items */

        .titlebox blockquote ul li:hover {
            background: #403C33 !important;
        }
        .titlebox blockquote li a:hover {
            color: black;
        }

        /* Menu sizes */

        .titlebox blockquote ul {width:165px;}
        .titlebox blockquote ul:nth-of-type(1) {width:200px;}


    /* User colors (friends, moderators, admins) */

    .author.friend { color: #00FF00 !important; }

    /*.entry .tagline .flair {
        float: left;
    }*/
    
    /* reddit gold */

        /*span.gilded-comment-icon:before {
            width:16px;
            height:16px;
            content:" ";
            background-image:url(%%items%%);
            display:inline-block;
            cursor:default;
            background-position:-112px -32px;
        }*/
        .give-gold { color: #9A7D2E !important; }
        .user-gilded > .entry span.gilded-comment-icon:before { width:16px; }